<!-- NavBar Login -->
		<header class="navbar navbar-expand-md py-2">
			<div class="container-xxl mb-3 d-flex align-items-md-center">
				<a class="navbar-brand position-relative me-auto" href="./" aria-lable="AirBnb">
						<img src="/images/logo-airbnb.png" alt="AirBnb Logo" height="25px">
				</a>
				<a href="/profile">
					<button type="button" class="btn btn-outline-primary pe-3 ms-3">
						<img src="{{user.avatar}}" class="rounded-circle" height="20px" alt="avatar" >
						{{user.name}}
					</button>
				</a>
				{{#if user}}
					<a href="/auth/logout">
						<button type="button" class="btn btn-outline-primary mw-100 mh-100">Log Out</button>
					</a>
				{{else}}
					<a href="/auth/login">
						<button type="button" class="btn btn-outline-primary mw-100 mh-100">Log in</button>
					</a>
				{{/if}}
				</div>
		</header>
