<!-- NavBar Login -->
		<header class="navbar navbar-expand-md py-2">
			<div class="rcontainer-xxl d-flex align-items-md-center">
				<a class="navbar-brand position-relative me-auto" href="./" aria-lable="AirBnb">
						<img src="../images/logo-airbnb.png" alt="AirBnb Logo" height="25px">
				</a>
				<button type="button" class="btn btn-outline-primary pe-3 ms-3">
					<img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle" height="20px" alt="avatar" >
						User Name</button>
				<button type="button" class="btn btn-outline-primary mw-100 mh-100">Log Out</button>
			</div>
		</header>
