<div class="wrapper">
			<img src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg" class="img-responsive" class="mw-100" alt="Responsive image">
				<div class="position-absolute top-50 start-50 translate-middle">
					<div class="card p-5" style="width: 25rem; height: 25rem">
						<img src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png" class="card-img-top" alt="AirBnb Logo" width="20px">
	  			<div class="card-body">
						<form class="" action="/auth/login" method="post">
							<small>Email</small>
							<input type="email" name="email">
							<small>Password</small>
							<input type="password" name="password">
							<button class="btn btn-outline-primary">Login</button>
						</form>
						<small>New to AirBnb</small>
						<a href="/auth/signup">Singnup</a>
					</div>
				</div>
			</div>
		</div>
